{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}

    <div class="header-block">
        <h1>Job</h1><a class="btn btn-primary" href="{{ path('job_new') }}">Create new Job</a>
    </div>
    <table class="table table-striped table-bordered display responsive nowrap" width="100% ">
        <thead>
        <tr>
            <th>Type</th>
            <th>Company</th>
            <th>Logo</th>
            <th>Position</th>
            <th>Location</th>
            <th>Activated</th>
            <th>Email</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.type }}</td>
                <td>{{ job.company }}</td>
                <td><img class="img-fluid" src="{{ job.logo }}" width="100px" alt=""></td>
                <td>{{ job.position }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.activated ? 'Yes' : 'No' }}</td>
                <td>{{ job.email }}</td>
                <td>{{ job.createdAt ? job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('job_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
