{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <div class="card" style="width: 35rem;">
        <img class="card-img-top" src="{{ job.logo }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{ job.description }}</h4>
            <p class="card-text">{{ job.howToApply }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span>{{ job.type }} </span> <span>{{ job.position }} </span><span>{{ job.company }}</span></li>
            <li class="list-group-item"><span>{{ job.location }} </span><span>{{ job.email }}</span></li>
            <li class="list-group-item"><span><a href="{{ job.url }}">url</a></span><span>{{ job.expiresAt ? job.expiresAt|date('Y-m-d H:i:s') : '' }}</span></li>
        </ul>
        <div class="card-footer">
            <a class="btn btn-link" href="{{ path('job_list') }}">Back to list</a>
            <a class="btn btn-primary" href="#" >Edit</a>
        </div>
    </div>
{% endblock %}
