{% extends 'base.html.twig' %}

{% block title %}Affiliate List{% endblock %}

{% block body %}
    <div class="header-block">
        <h1>Affiliate</h1><a class="btn btn-primary" href="#">Create new Affiliate</a>
    </div>
    <table class="table table-striped table-bordered table-datatables"
           width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Email</th>
            <th>Token</th>
            <th>Active</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for affiliate in affiliates %}
            <tr>
                <td>{{ affiliate.id }}</td>
                <td>{{ affiliate.url }}</td>
                <td>{{ affiliate.email }}</td>
                <td>{{ affiliate.token }}</td>
                <td>{{ affiliate.active ? '<span class="badge badge-success">Active</span>' : '<span class="badge badge-secondary">Inactive</span>' }}</td>
                <td>{{ affiliate.createdAt ? affiliate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('affiliate.show', {'id': affiliate.id}) }}">show</a>
                    <a href="#">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
